<div class="container">
  <div class="row">
    <div class="col l4">
      <div class="card-panel">
        <% @companies_1.each do |company| %>
          <p><a href="/companies/<%= company.id %>"><%= company.name %></a></p>
        <% end %>
      </div>
    </div>
    <div class="col l4">
      <div class="card-panel">
        <% @companies_2.each do |company| %>
          <p><a href="/companies/<%= company.id %>"><%= company.name %></a></p>
        <% end %>
      </div>
    </div>
    <div class="col l4">
      <div class="card-panel">
        <% @companies_3.each do |company| %>
          <p><a href="/companies/<%= company.id %>"><%= company.name %></a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
